{% extends "admin/base_site.html" %}
{% load i18n %}


{% block content %}
	<div id="content-main">
		<h1>{% trans "Bilder zu Gallerie hinzufügen" %}</h1>

		<form action="" method="post">

				<p>{% trans "Kategorie:" %}</p>
		    {{ category_form }}{% csrf_token %}

		    <p>{% trans "Folgenden Gallerien werden die Bilder der oben ausgewählten Kategorie hinzugefügt:" %}</p>


		    <ul>{{ mediafiles|unordered_list }}</ul>

		    <input type="hidden" name="action" value="assign_category" />
		    <input type="submit" name="apply" value="{% trans "Bilder hinzufügen" %}" />
		</form>
	</div>
{% endblock %}