{% load feincms_thumbnail i18n markup_tags translation_tags %}


		{% if images %}
			<div id="gallery{{ content.pk }}" class="image-gallery"
					 data-featherlight-gallery
					 data-featherlight-variant="black"
					 data-featherlight-filter="nav a.thumb">
			{% for image in images %}
				<figure id="slide{{ image.pk }}">
					<div class="photoframe">
						<img src="{{ image.lightbox_image.url }}">
					</div>

					<figcaption>
						{% if image.get_translation.description %}
							<p class="caption">
								{{ image.get_translation.caption|inline_markdown }}
							</p>

							{{ image.get_translation.description|markdown }}

							{% if image.copyright or image.author %}
							<p class="copyright">
								{% if image.copyright %}
									&copy;
									{{ image.copyright|inline_markdown }}
								{% endif %}
								{% if image.author %}
								<span class="author">{{ image.get_author_label_display }}: {{ image.author|inline_markdown }}</span>
								{% endif %}
							</p>
							{% endif %}

						{% else %}
							{{ image.get_translation.caption|inline_markdown }}

							{% if image.copyright %}
							<span class="copyright">{{ image.copyright|inline_markdown }}</span>
							{% endif %}

							{% if image.author %}
							<span class="author">{{ image.get_author_label_display }}: {{ image.author|inline_markdown }}</span>
							{% endif %}
						{% endif %}
					</figcaption>
				</figure>
			{% endfor %}

				<nav class="thumbs">
					{% for image in images %}
						<a class="thumb" href="#slide{{ image.pk }}"><img src="{{ image.gallery_image_thumbnail.url }}"></a>
					{% endfor %}
				</nav>

			{% if content.gallery %}
				{% with title=content.gallery|translate:"title" description=content.gallery|translate:"description" %}
					{% if title or description %}
					<div class="gallery-caption">
						{% if title %}
						<h3 class="gallery">{{ title|inline_markdown }}</h3>
						{% endif %}

						{% if description %}
						<div class="description">
							{{ description|markdown }}
						</div>
						{% endif %}
					</div>
					{% endif %}
				{% endwith %}
			{% endif %}
		</div>
		{% endif %}
