{% load feincms_thumbnail i18n markup_tags text_tags %}

		{% if images %}
			<div id="gallery{{ content.pk }}" class="image-gallery"
					 data-featherlight-gallery
					 data-featherlight-variant="black"
					 data-featherlight-filter="nav a.thumb">
			{% for image in images %}
				<figure id="slide{{ image.pk }}">
					<div class="photoframe">
						<img src="{{ image.fullsize_image.url }}">
					</div>

					<figcaption>
						{% if image.get_translation.description %}
							<p class="caption">
								{{ image.get_translation.caption|slimdown }}
							</p>

							{{ image.get_translation.description|markdown }}

							{% if image.copyright %}
							<p class="copyright">{{ image.copyright|slimdown }}</p>
							{% endif %}
						{% else %}
							{{ image.get_translation.caption|slimdown }}
							{% if image.copyright %}
							<span class="copyright">{{ image.copyright|slimdown }}</span>
							{% endif %}
						{% endif %}
					</figcaption>
				</figure>
			{% endfor %}

				<nav class="thumbs">
					{% for image in images %}
						<a class="thumb" href="#slide{{ image.pk }}"><img src="{{ image.fullsize_image.name|thumbnail:"160x160" }}"></a>
					{% endfor %}
				</nav>

				<div class="gallery-caption">
					{% if content.gallery.title %}
					<h3 class="gallery">{{ content.gallery.title|slimdown }}</h3>
					{% endif %}

					{% if content.gallery.description %}
					<div class="description">
						{{ content.gallery.description|markdown }}
					</div>
					{% endif %}
				</div>

			{% with content.description as description %}
				{% if description %}
				<div class="gallery-caption">
					{{ content.description|markdown }}
				</div>
				{% endif %}
			{% endwith %}
		</div>
		{% endif %}

